<tr>
  <td><%= transaction.account.account_number %></td>
  <td><%= transaction.transaction_type %></td>
  <td class="text-right"><%= transaction.amount %></td>
  <td class="text-right"><%= transaction.created_at %></td>
</tr>
