<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Accounts</h1>
  </div>

  <table class="my-5 table-auto border-collapse w-full max-w-screen-md text-sm">
    <thead>
      <th class="text-left">Number</th>
      <th class="text-right">Balance</th>
      <th class="text-right">Date</th>
    </thead>

    <tbody class="bg-white dark:bg-slate-800">
      <%= render @accounts %>
    </tbody>
  </table>

  <%= link_to "Back to users", users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>


